{% if theme.theme_mod('navbar_search', 1) == 1 %}
	<form role="search" method="get" id="searchform" class="form-search navbar-right navbar-form" action="{{ site.link }}">
		<label class="hide" for="s">{{ __('Search for:', 'maera_bs') }}</label>
		<input type="text" value="{% if function('is_search') %}{{ function('get_search_query') }}{% endif %}" name="s" id="s" class="form-control search-query" placeholder="{{ __('Search', 'maera_bs') }}">
	</form>
{% endif %}
